nav{
    font-family: 'Oswald', 'san-serif';
    font-size: 1.5rem;
    
}
i.fas{
    color:goldenrod;
        
}



a.btn.btn-link.img{
    width: 100%;
    height: auto;
}

/* div.rating{
    margin: 15px; 
} */
